:root {
  --main-bg-color: brown;
  --primary-color: grey;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--main-bg-color);
  border: 4px solid black;
}
h1 {
  color: var(--primary-color);
}
input {
  border-radius: 20%;
  border: none;
  background-color: var(--primary-color);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > * {
  margin: 1rem 0;
}
.game {
  margin: 0 1.5rem;
}
.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid white;
}
.reset-btn {
  border-radius: 20%;
  font-size: 1rem;
  background-color: var(--primary-color);
}
.main-btn {
  border-radius: 20%;
  font-size: 1.5rem;
  background-color: var(--primary-color);
}
